name: master

on:
  push:
    branches: 
      - master

jobs:
  build:
    runs-on: [windows-latest]
    steps:
    - name: Checkout files
      uses: actions/checkout@v1
      
    - name: Setup .NET Core Latest
      uses: actions/setup-dotnet@v1
      with:
        source-url: https://api.nuget.org/v3/index.json
      env:
        NUGET_AUTH_TOKEN: ${{ secrets.NUGET_KEY }}

    - name: Build and pack
      run: dotnet pack Rofl.Extract.Data/Rofl.Extract.Data.csproj -c Release -o out

    - name: Push package to NuGet registry
      run: dotnet nuget push out\*.nupkg --api-key ${{ secrets.NUGET_KEY }} --skip-duplicate --no-symbols true